<!DOCTYPE html>
<html>
  <head>
    <title>Polyconsultorio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="navbar">
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li><%= link_to 'Professionals', "/professionals" %></li>
        <li><%= link_to 'Appointments', "/appointments" %></li>
      <% else %>
        <li><%= link_to 'Sign Up', sign_up_path %></li>
        <li><%= link_to 'Log In', log_in_path %></li>
      <% end %>
    </ul>
    <% if current_user %>
      <ul class="nav navbar-nav pull-right">
        <li><span><%= current_user.email %></span></li>
        <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
      </ul>
    <% end %>
  </div>
  <div class="col-sm-9">
    <%= yield %>
  </div>
    <%= render 'shared/current_users' %>
  </body>
</html>
