<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :surname, class: "label" %>
    <%= form.text_field :surname, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :date, class: "label" %>
    <%= form.datetime_select :date, minute_step: 30 %>
  </div>

  <div class="field">
    <%= form.label :phone, class: "label" %>
    <%= form.text_field :phone, type: "number", class: "input" %>
  </div>

  <div class="field">
    <%= form.label :notes, class: "label" %>
    <%= form.text_area :notes, class: "textarea" %>
  </div>

  <div class="field">
    <%= form.label :professional, class: "label" %>
    <div class="select">
      <%= form.select :professional_id, Professional.all.map { |p| [p.name, p.id] } %>
    </div>
  </div>

  <input class="button is-danger" type="submit" value="Submit">

<% end %>
