<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @professional.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @professional.surname %>
</p>
<% if allowed_to?(:edit?, @professional) %>
  <%= link_to 'Edit', edit_professional_path(@professional) %> |
<% end %>
<%= link_to 'Back', professionals_path %>
